In [6]:
import time
import numpy as np
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from bs4 import BeautifulSoup
import requests

In [4]:
#讀檔
data = pd.read_csv('v1.csv')
data = data.sort_values(by='player')
data

      order        player     value  draft year
2910   2911   A.J. Achter    500000        2010
2894   2895   A.J. Achter    507500        2010
2862   2863   A.J. Achter    507500        2010
5565   5566  A.J. Burnett  82500000        1995
5567   5568  A.J. Burnett  55000000        1995
...     ...           ...       ...         ...
3111   3112  Zack Wheeler    800000        2009
3287   3288  Zack Wheeler    490000        2009
3022   3023  Zack Wheeler   5975000        2009
3047   3048  Zack Wheeler   3300000        2009
3073   3074  Zack Wheeler   1900000        2009

[5919 rows x 4 columns]

In [5]:
data = data.drop_duplicates(subset='player')
data

      order         player      value  draft year
2910   2911    A.J. Achter     500000        2010
5565   5566   A.J. Burnett   82500000        1995
2883   2884      A.J. Cole     507500        2010
2675   2676   A.J. Griffin    2000000        2010
975     976    A.J. Minter     535000        2015
...     ...            ...        ...         ...
4020   4021   Zack Britton   12000000        2006
1688   1689    Zack Godley      35000        2013
4944   4945   Zack Greinke  147000000        2002
58       59  Zack Thompson     700000        2019
3198   3199   Zack Wheeler     512375        2009

[957 rows x 4 columns]

In [6]:
player = list(data['player'])

In [26]:
player_url=[]

In [8]:
def find_urls(player_list):
    #webdriver路徑
    driver = webdriver.Chrome('\chromedriver.exe')

    for player_name in player_list:
        #載入statcast
        driver.get("https://baseballsavant.mlb.com/statcast_search")
        time.sleep(1)
        search = driver.find_element('xpath','/html/body/header/div[3]/div/div/div/input')
        time.sleep(1)
        search.clear
        search.send_keys(player_name)
        time.sleep(3)
        search.send_keys(Keys.ENTER)
        time.sleep(3)

        url = driver.current_url
        player_url.append(url)
        time.sleep(1)

In [16]:
x = 800
no_=player[x:x+100]
print(no_)

['Scott Feldman', 'Scott Kazmir', 'Scott McGough', 'Scott Oberg', 'Scott Rice', 'Sean Burnett', 'Sean Hjelle', 'Sean Manaea', 'Sean Marshall', "Sean O'Sullivan", 'Sergio Romo', 'Sergio Santos', 'Seth Frankoff', 'Seth Lugo', 'Seth Martinez', 'Seth Romero', 'Shane Baz', 'Shane Bieber', 'Shane Carle', 'Shane McClanahan', 'Shaun Anderson', 'Shaun Marcum', 'Shawn Armstrong', 'Shawn Kelley', 'Shawn Morimando', 'Shawn Tolleson', 'Shelby Miller', 'Sonny Gray', 'Spencer Adams', 'Spencer Howard', 'Spencer Patton', 'Spencer Strider', 'Spencer Turnbull', 'Stefan Crichton', 'Stephen Ridings', 'Stephen Strasburg', 'Steve Cishek', 'Steve Delabar', 'Steve Hathaway', 'Steve Johnson', 'Steve Karsay', 'Steve Nogosek', 'Steven Matz', 'Steven Okert', 'Steven Wilson', 'Steven Wright', 'T.J. House', 'Taijuan Walker', 'Taj Bradley', 'Tanner Anderson', 'Tanner Banks', 'Tanner Houck', 'Tanner Rainey', 'Tanner Roark', 'Tanner Scott', 'Tarik Skubal', 'Tayler Saucedo', 'Taylor Clarke', 'Taylor Cole', 'Taylor Guilbeau', 'Taylor Hill', 'Taylor Jordan', 'Taylor Rogers', 'Ted Lilly', 'Tejay Antone', 'Thad Ward', 'Thad Weber', 'Thomas Szapucki', 'Tim Cooney', 'Tim Herrin', 'Tim Hill', 'Tim Hudson', 'Tim Lincecum', 'Tim Mayza', 'Tim Wakefield', 'Todd Coffey', 'Todd Jones', 'Todd Redmond', 'Tom Glavine', 'Tom Koehler', 'Tom Wilhelmsen', 'Tommy Hunter', 'Tommy Kahnle', 'Tony Barnette', 'Tony Cingrani', 'Tony Santillan', 'Tony Sipp', 'Tony Watson', 'Tony Zych', 'Travis Lakins', 'Travis Wood', 'Trent Autry', 'Trevor Bauer', 'Trevor Gott', 'Trevor Hoffman', 'Trevor May', 'Trevor Rogers', 'Trevor Stephan', 'Trevor Williams', 'Trey Wingenter']

In [29]:
no_ = player[900:958]
print(no_)

['Tristan Beck', 'Triston McKenzie', 'Trystan Magnuson', 'Tucker Davidson', 'Ty Blach', 'Tyler Alexander', 'Tyler Anderson', 'Tyler Clippard', 'Tyler Cloyd', 'Tyler Glasnow', 'Tyler Holton', 'Tyler Jones', 'Tyler Kinley', 'Tyler Mahle', 'Tyler Matzek', 'Tyler Poulin', 'Tyler Rogers', 'Tyler Skaggs', 'Tyler Webb', 'Tyler Wells', 'Tyler Wilson', 'Tylor Megill', 'Vincent Velasquez', 'Vinnie Pestano', 'Wade Davis', 'Wade LeBlanc', 'Wade Miley', 'Walker Buehler', 'Walker Lockett', 'Wes Benjamin', 'Wil Crowe', 'Will Harris', 'Will Ohman', 'Will Smith', 'Williams Jerez', 'Wyatt Mills', 'Xavier Cedeno', 'Xzavion Curry', 'Yency Almonte', 'Yovani Gallardo', 'Zac Curtis', 'Zac Gallen', 'Zac Reininger', 'Zac Rosscup', 'Zach Davies', 'Zach Duke', 'Zach Eflin', 'Zach Jackson', 'Zach Neal', 'Zach Plesac', 'Zach Pop', 'Zach Putnam', 'Zack Britton', 'Zack Godley', 'Zack Greinke', 'Zack Thompson', 'Zack Wheeler']

In [30]:
find_urls(no_)

C:\Users\User\AppData\Local\Temp\ipykernel_14188\1139885554.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome('\chromedriver.exe')

In [24]:
print(len(player_url))

100

In [25]:
df = pd.DataFrame({'name':no_, 'url':player_url})
df.to_csv(f'url_{x+1}_{x+100}.csv', index=False)
df

               name                                                url
0     Scott Feldman  https://baseballsavant.mlb.com/savant-player/s...
1      Scott Kazmir  https://baseballsavant.mlb.com/savant-player/s...
2     Scott McGough  https://baseballsavant.mlb.com/savant-player/s...
3       Scott Oberg  https://baseballsavant.mlb.com/savant-player/s...
4        Scott Rice  https://baseballsavant.mlb.com/savant-player/s...
..              ...                                                ...
95       Trevor May  https://baseballsavant.mlb.com/savant-player/t...
96    Trevor Rogers  https://baseballsavant.mlb.com/savant-player/t...
97   Trevor Stephan  https://baseballsavant.mlb.com/savant-player/t...
98  Trevor Williams  https://baseballsavant.mlb.com/savant-player/t...
99   Trey Wingenter  https://baseballsavant.mlb.com/savant-player/t...

[100 rows x 2 columns]

In [ ]:
df = pd.DataFrame({'name':no_, 'url':player_url})
df.to_csv('url_901_957.csv', index=False)
df